:root {
  --primary-color: #bd8b79;
  --secondary-color: #ec3d32;
  --dark-color: #b84142;
  --error-color: #ee1010;
  --primary-color-transp: #bd8b79a2;
  --text-dark: #662526;
  --background-color-app: #f5f0ec;
  --contrast-color-primary: #ec3e3283;
  --box-shadow-color: rgba(47, 79, 79, 0.61);
}

* {
  text-align: center;
  color: var(--text-dark);
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Arial, Helvetica,
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-app);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

li {
  list-style: none;
}
