/* CONTINENT COMPONENT */
.continent-container {
  display: block;
  cursor: pointer;
  border-radius: 35px;
}

.continent-image {
  height: 125px;
  width: 145px;
  padding: 4px;
  margin: 0px;
}

.continent-title {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}

.continent-active {
  background-color: var(--primary-color);
}

.continent-active .continent-title {
  color: white;
}

@media screen and (max-width: 850px) {
  .continent-container {
    display: inline-block;
  }

  .continent-image {
    height: 110px;
    padding: 2px;
  }
}

@media screen and (max-width: 612px) {
  .continent-image {
    display: none;
  }

  .continent-container {
    cursor: pointer;
    border-radius: 25px;
    background-color: var(--primary-color-transp);
    height: 40px;
    padding: 0 6px;
    margin: 5px;
    display: inline-flex;
  }

  .continent-active {
    background-color: var(--dark-color);
  }

  .continent-title {
    text-align: center;
    color: white;
    font-weight: normal;
    padding: 0;
    margin: auto auto;
  }
}
