/* COUNTRIES PAGE*/
.countries-page-container {
  display: grid;
  grid-template-columns: 245px 1fr;
  grid-template-rows: 125px 40px 1fr;
  grid-template-areas:
    "filters searcher"
    ". pagination"
    "continents countries";
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.continents-container {
  grid-area: continents;
  align-self: stretch;
}

.continents-title {
  font-size: 1.3rem;
  padding-left: 2rem;
  text-align: left;
  color: var(--primary-color);
}

.countries-container {
  grid-area: countries;
  align-self: stretch;
  margin: 2rem auto;
}

.pagination-container {
  grid-area: pagination;
}

@media screen and (max-width: 850px) {
  .countries-page-container {
    grid-template-columns: 100%;
    grid-template-rows: 90px min-content 55px auto 50px;
    grid-template-areas:
      "searcher"
      "continents"
      "filters"
      "countries"
      "pagination";
  }
}
