/* PAGE 404 */
.container-404 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 50px 100px 1fr;
  grid-template-areas:
    "title image"
    "subtitle image"
    "content image"
    "btn image";
  justify-content: center;
  align-content: center;
}

.title404 {
  grid-area: title;
  font-size: 65px;
}

.subtitle404 {
  grid-area: subtitle;
}

.content404 {
  grid-area: content;
}

.btn404 {
  grid-area: btn;
}

.img404 {
  grid-area: image;
}
