/* PAGE 404 */
.container-404 {
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-rows: 100px 50px 100px 1fr;
  grid-template-areas:
    "title image"
    "subtitle image"
    "content image"
    "btn image";
  justify-content: center;
  align-content: center;
}

.title404 {
  grid-area: title;
  font-size: 65px;
}

.subtitle404 {
  grid-area: subtitle;
}

.content404 {
  grid-area: content;
}

.btn404 {
  grid-area: btn;
}

.img404 {
  grid-area: image;
  width: 690px;
}

@media screen and (max-width: 900px) {
  .container-404 {
    grid-template-columns: 95%;
    grid-template-rows: 120px 50px 60px 1fr;
    grid-template-areas:
      "title"
      "subtitle"
      "content"
      "btn"
      "image";
  }

  .img404 {
    width: 100%;
  }
}
