.active-page,
.page,
.previous,
.next {
  border-radius: 10px;
  border: none;
  width: 38px;
  height: 30px;
  margin: 0 0.35rem;
  background-color: var(--primary-color-transp);
  color: white;
  cursor: pointer;
}

.active-page {
  background-color: var(--dark-color);
  box-shadow: 4px 2px 5px var(--box-shadow-color);
}

.previous {
  color: transparent;
  width: 40px;
  background: var(--dark-color) url(../assets/images/anterior.svg) no-repeat 70%
    center;
  background-size: 25px;
  padding: 5px 8px;
}

.next {
  color: transparent;
  width: 40px;
  background: var(--dark-color) url(../assets/images/siguiente.svg) no-repeat
    80% center;
  background-size: 25px;
  padding: 5px 8px;
}

.page:hover,
.previous:hover,
.next:hover {
  background-color: var(--dark-color);
}
